.container {
  margin: 10px;
}
.sectionTitleContainer {
  background-color: midnightblue;
  color: white;
  padding: 10px;
}

.sectionTitle {
  font-weight: bold;
}
.sectionText {
  font-size: small;
}

.questionContainer {
  margin: 30px 10px;
}

.questionTitle {
  font-weight: bold;
  font-size: large;
}

.questionText {
  font-size: small;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.autocomplete {
  margin: 5px;
}

.patient-container {
  display: flex;
  flex-direction: row;
}

.or {
  display: flex;
  align-items: center;
  margin: 0 30px;
}
