.response-link {
  text-decoration: none;
}

.left-buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.patient-filler-container {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
}

.bold {
  font-weight: bold;
}

.patient-filler {
  width: 200px;
  margin: 0 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.side-margin {
  margin: 0 15px;
  -webkit-user-select: all; /* for Safari */
  user-select: all;
}

.email-button {
  float: right;
}
