/* .choiceContainer {
  display: flex !important;
  flex-direction: row;
}

.choiceText {
  width: fit-content;
}

.inputContainer {
  width: 50%;
} */

.checked {
  color: green;
}

.notChecked {
  text-decoration: line-through;
}
