/* .modal {
  width: 500px;
  height: 300px;
  margin: auto;
  padding: 10px;
} */

.modalContent {
    margin: auto;
    width: 300px;
    padding: 30px;
  }
  
  .title {
    background-color: midnightblue;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: large;
  }
  
  .textfield {
    margin: 10px;
  }
  
  .classActions {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }